extends ../../layouts/default.pug
block main 
    h1 Trang san pham
    table.table.table-hover.table-sm 
        thead 
            tr 
                th STT 
                th Hinh anh 
                th Tieu de
                th Gia
                th Trang Thai 
                th Hanh dong 
        tbody 
            each item in product 
                tr 
                    td #{item.position}
                        img( src=item.thumbnail alt=""
                        width="100px"
                        height="auto"
                        )
                    td #{item.title}
                    td #{item.price}
                    td 
                        if(item.status=="active")
                            a(href="#" class="badge badge-success") Hoat dong 
                        else 
                            a(href="#" class="badge badge-danger") Dung hoat dong
                    td 
                        button(class="btn btn-warning btn-sm") Sua
                        button(class="btn btn-danger btn-sm") Xoa
                