extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
block main 
    h1 Trang san pham
    .card.mb-3 
        .card-header Bo loc va tim kiem 
        .card-body 
            .row 
                .col-6
                  +filter-status(filterStatus)
                .col-6 
                   +search(keyword)
             
    .card.mb-3 
        .card-header Danh sach
        .card-body 
        table.table.table-hover.table-sm 
            thead 
                tr 
                    th STT 
                    th Hinh anh 
                    th Tieu de
                    th Gia
                    th Trang Thai 
                    th Hanh dong 
            tbody 
                each item, index in product 
                    tr 
                        td #{index+1}
                            img( src=item.thumbnail alt=""
                            width="100px"
                            height="auto"
                            )
                        td #{item.title}
                        td #{item.price}
                        td 
                            if(item.status=="active")
                                a(href="#" class="badge badge-success") Hoat dong 
                            else 
                                a(href="#" class="badge badge-danger") Dung hoat dong
                        td 
                            button(class="btn btn-warning btn-sm") Sua
                            button(class="btn btn-danger btn-sm") Xoa
    nav
        ul(class="pagination")
            if(pagination.currentPage > 1)
                li(class="page-item")
                    button(button-pagination=pagination.currentPage-1 class="page-link") Previous
            div  
            - for (var i = 1; i<= pagination.totalPage; i++)
                li(class=`page-item ${pagination.currentPage == i ?"active":""}`)
                    button(button-pagination=i class="page-link active") #{i}
            if(pagination.currentPage < pagination.totalPage)
                li(class="page-item")
                    button(button-pagination=pagination.currentPage+1 class="page-link") Next
                 

            
        
     
                    